<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<form action="http://localhost:5002/logined" method="post">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit" value="登录" clss="btn">
	</form>
	<script src=""></script>
	<script>
		// $(".btn").on("click",function(req,res){
			/*$.ajax({
				url:"detil",
				type:"post",
				success:function(msg){
					console.log(msg)
				}

			})*/
		// })
	</script>
</body>
</html>